* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
  margin-top: 1em;
}

nav {
  background-color: #ebd0d0;
  border-bottom: 3px solid #000;
  border-top: 3px solid #000;
  position: relative;
}

.gap {
  margin-bottom: 10px;
}

.h-500 {
  height: 500px;
}

.section--1,
.section--2,
.section--3 {
  background-color: #ada3a3;
  border: 1px solid #000;
}

.section--1 p,
.section--2 p,
.section--3 p {
  padding: 2em 1em 0.5em 1em;
}

.item-name {
  font-weight: bold;
  text-align: center;
}

.w-6 {
  width: 24px;
  height: 24px;
}

.dropdown {
  position: static !important;
}

.dropdown-item {
  border-bottom: 2px solid #000;
}

.dropdown-menu {
  width: 100% !important;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
